/* markdown */
.markdown-body table {
  border-collapse: collapse;
  width: 100%;
  margin: 1em 0 1em 10px ;
  overflow: hidden; /* テーブル内の内容がはみ出さないようにする */
}

.markdown-body th,
.markdown-body td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
}

.markdown-body th {
  background-color: #6c757d; /* ヘッダーの背景色 */
  color: #ffffff; /* ヘッダーの文字色 */
  font-weight: bold;
}

.markdown-body td {
  background-color: #ffffff; /* セルの背景色 */
}

.markdown-body tr:nth-child(even) td {
  background-color: #f2f2f2; /* 偶数行の背景色 */
}

/* チェックリストのデザイン */
.markdown-body input[type="checkbox"] {
  transition: transform 0.2s ease;
}
.markdown-body input[type="checkbox"]:checked {
  transform: scale(1.3);
}

 
.markdown-body ol {
  margin: 1em 0;
  padding-left: 2em; /* インデントの調整 */
  list-style-type: decimal; /* 番号リストのスタイル */
}

.markdown-body ol li {
  margin-bottom: 0.5em; /* リスト項目間のスペース */
}

.markdown-body ul {
  margin: 1em 0;
  padding-left: 2em; /* インデントの調整 */
  list-style-type: disc; /* 通常の箇条書きリスト */
}

.markdown-body ul li {
  margin-bottom: 0.5em; /* リスト項目間のスペース */
}
